In [21]:
from google.colab import drive
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from datetime import datetime
from dateutil.parser import parse
import glob
import cv2
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [31]:
path = '/content/drive/MyDrive/Colab Notebooks/WHO/WHO'
filenames = glob.glob("/content/drive/MyDrive/Colab Notebooks/WHO/WHO/*.csv")

dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename))
dfs
# Concatenate into one DataFrame
#big_frame = pd.concat(dfs, ignore_index=True)

[                               Location  ...     First Tooltip
 0                           Afghanistan  ...   0.5 [0.29-0.78]
 1                               Albania  ...  1.29 [0.83-1.91]
 2                               Algeria  ...  0.22 [0.12-0.34]
 3                               Andorra  ...     0.08 [0-1.65]
 4                                Angola  ...  4.85 [3.29-6.81]
 ..                                  ...  ...               ...
 189  Venezuela (Bolivarian Republic of)  ...  0.62 [0.41-0.91]
 190                            Viet Nam  ...   1.2 [0.84-1.62]
 191                               Yemen  ...  2.54 [1.82-3.54]
 192                              Zambia  ...  1.84 [1.17-2.76]
 193                            Zimbabwe  ...  4.38 [2.92-6.33]

 [194 rows x 4 columns],          Location  ...        First Tooltip
 0     Afghanistan  ...  95.12 [85.12-104.3]
 1     Afghanistan  ...     95.58 [85.5-106]
 2     Afghanistan  ...  94.63 [84.55-103.9]
 3     Afghanistan  ...  211.1 [188.9-231.3]
 4     Afghanistan  ...  228.7 [204.6-253.6]
 ...           ...  ...                  ...
 6583     Zimbabwe  ...     5.54 [2.74-7.66]
 6584     Zimbabwe  ...      6.19 [4.73-7.3]
 6585     Zimbabwe  ...  16.09 [11.67-19.89]
 6586     Zimbabwe  ...   17.72 [8.75-24.51]
 6587     Zimbabwe  ...  14.95 [11.43-17.62]

 [6588 rows x 6 columns],          Location  Period  ...        Dim1        First Tooltip
 0     Afghanistan    2019  ...  Both sexes  35.86 [27.77-45.18]
 1     Afghanistan    2018  ...  Both sexes  36.89 [29.34-45.28]
 2     Afghanistan    2017  ...  Both sexes   37.98 [30.95-45.6]
 3     Afghanistan    2016  ...  Both sexes  39.05 [32.59-46.17]
 4     Afghanistan    2015  ...  Both sexes  40.27 [34.34-46.94]
 ...           ...     ...  ...         ...                  ...
 9130     Zimbabwe    1969  ...  Both sexes  31.66 [26.63-37.36]
 9131     Zimbabwe    1968  ...  Both sexes  31.67 [26.41-37.75]
 9132     Zimbabwe    1967  ...  Both sexes  31.76 [26.17-38.31]
 9133     Zimbabwe    1966  ...  Both sexes  31.96 [25.96-39.16]
 9134     Zimbabwe    1965  ...  Both sexes   32.38 [25.6-40.27]

 [9135 rows x 5 columns],                                Location  ... First Tooltip
 0                           Afghanistan  ...          0.49
 1                               Albania  ...          0.31
 2                               Algeria  ...          0.36
 3                                Angola  ...          0.31
 4                   Antigua and Barbuda  ...          0.24
 ..                                  ...  ...           ...
 178  Venezuela (Bolivarian Republic of)  ...          0.41
 179                            Viet Nam  ...          0.40
 180                               Yemen  ...          0.37
 181                              Zambia  ...          0.39
 182                            Zimbabwe  ...          0.41

 [183 rows x 4 columns],           Location  Period  ...        Dim1        First Tooltip
 0      Afghanistan    2019  ...  Both sexes  60.27 [47.44-74.62]
 1      Afghanistan    2019  ...        Male  63.83 [50.04-79.16]
 2      Afghanistan    2019  ...      Female  56.57 [44.54-70.18]
 3      Afghanistan    2018  ...  Both sexes  62.54 [50.64-75.41]
 4      Afghanistan    2018  ...        Male  66.08 [53.41-79.76]
 ...            ...     ...  ...         ...                  ...
 29994  Timor-Leste    2002  ...  Both sexes  96.97 [87.36-107.7]
 29995  Timor-Leste    2002  ...        Male    102.6 [92.14-114]
 29996  Timor-Leste    2002  ...      Female  91.04 [81.92-101.5]
 29997  Timor-Leste    2001  ...  Both sexes  102.5 [92.72-113.3]
 29998  Timor-Leste    2001  ...        Male    108.2 [97.57-120]

 [29999 rows x 5 columns],       Location  ... First Tooltip
 0      Albania  ...         39.86
 1      Albania  ...         40.17
 2      Albania  ...         39.39
 3      Albania  ...         39.85
 4      Albania  ...         40.17
 ...        ...  ...           ...
 3650  Zimbabwe  ...         22.81
 3651  Zimbabwe  ...         23.31
 3652  Zimbabwe  ...         23.31
 3653  Zimbabwe  ...         23.31
 3654  Zimbabwe  ...         23.31

 [3655 rows x 5 columns],           Location  Period  ...        Dim1        First Tooltip
 0      Afghanistan    2019  ...  Both sexes  46.51 [37.71-55.82]
 1      Afghanistan    2019  ...        Male    49.8 [40.2-59.95]
 2      Afghanistan    2019  ...      Female  43.05 [34.82-51.96]
 3      Afghanistan    2018  ...  Both sexes  48.04 [39.94-56.32]
 4      Afghanistan    2018  ...        Male   51.35 [42.56-60.4]
 ...            ...     ...  ...         ...                  ...
 29994  Timor-Leste    2002  ...  Both sexes  77.08 [70.29-84.49]
 29995  Timor-Leste    2002  ...        Male  82.53 [74.86-90.67]
 29996  Timor-Leste    2002  ...      Female  71.37 [64.81-78.76]
 29997  Timor-Leste    2001  ...  Both sexes    80.96 [74.1-88.4]
 29998  Timor-Leste    2001  ...        Male  86.46 [78.83-94.89]

 [29999 rows x 5 columns],            Location  Period  ... Unnamed: 6 % OF HALE in life expectancy
 0            Africa    2019  ...  86.897193                           87
 1            Africa    2019  ...  88.183422                           88
 2            Africa    2019  ...  85.656414                           86
 3            Africa    2015  ...  86.988491                           87
 4            Africa    2015  ...  88.275178                           88
 ..              ...     ...  ...        ...                          ...
 67  Western Pacific    2010  ...  90.126862                           90
 68  Western Pacific    2010  ...  87.352381                           87
 69  Western Pacific    2000  ...  88.746203                           89
 70  Western Pacific    2000  ...  90.128940                           90
 71  Western Pacific    2000  ...  87.322448                           87

 [72 rows x 8 columns],            Location  Period  ... Unnamed: 6 % OF HALE in life expectancy
 0            Africa    2019  ...  86.897193                           87
 1            Africa    2019  ...  88.183422                           88
 2            Africa    2019  ...  85.656414                           86
 3            Africa    2015  ...  86.988491                           87
 4            Africa    2015  ...  88.275178                           88
 ..              ...     ...  ...        ...                          ...
 67  Western Pacific    2010  ...  90.126862                           90
 68  Western Pacific    2010  ...  87.352381                           87
 69  Western Pacific    2000  ...  88.746203                           89
 70  Western Pacific    2000  ...  90.128940                           90
 71  Western Pacific    2000  ...  87.322448                           87

 [72 rows x 8 columns],          Location  ... First Tooltip
 0     Afghanistan  ...         37.75
 1     Afghanistan  ...         63.58
 2     Afghanistan  ...         29.02
 3     Afghanistan  ...         37.67
 4     Afghanistan  ...         63.58
 ...           ...  ...           ...
 2721     Zimbabwe  ...         48.54
 2722     Zimbabwe  ...         31.20
 2723     Zimbabwe  ...         36.93
 2724     Zimbabwe  ...         48.54
 2725     Zimbabwe  ...         31.20

 [2726 rows x 5 columns],          Location  Period  ...        Dim1 First Tooltip
 0     Afghanistan    2016  ...  Both sexes           0.0
 1     Afghanistan    2016  ...        Male           0.0
 2     Afghanistan    2016  ...      Female           0.0
 3     Afghanistan    2015  ...  Both sexes           4.8
 4     Afghanistan    2015  ...        Male           7.8
 ...           ...     ...  ...         ...           ...
 2740     Zimbabwe    2005  ...        Male          21.7
 2741     Zimbabwe    2005  ...      Female           6.4
 2742     Zimbabwe    2000  ...  Both sexes          12.9
 2743     Zimbabwe    2000  ...        Male          20.6
 2744     Zimbabwe    2000  ...      Female           5.5

 [2745 rows x 5 columns],         Location  ... First Tooltip
 0    Afghanistan  ...          42.1
 1        Albania  ...          12.9
 2        Algeria  ...          77.2
 3         Angola  ...          24.2
 4        Armenia  ...          40.2
 ..           ...  ...           ...
 114      Vanuatu  ...          50.7
 115     Viet Nam  ...          69.7
 116        Yemen  ...          46.9
 117       Zambia  ...          63.8
 118     Zimbabwe  ...          85.2

 [119 rows x 4 columns],          Location  Period                     Indicator  First Tooltip
 0     Afghanistan    2016  Medical doctors (per 10,000)           2.78
 1     Afghanistan    2015  Medical doctors (per 10,000)           2.85
 2     Afghanistan    2014  Medical doctors (per 10,000)           2.98
 3     Afghanistan    2013  Medical doctors (per 10,000)           2.85
 4     Afghanistan    2012  Medical doctors (per 10,000)           2.41
 ...           ...     ...                           ...            ...
 2501     Zimbabwe    2005  Medical doctors (per 10,000)           1.26
 2502     Zimbabwe    2004  Medical doctors (per 10,000)           1.74
 2503     Zimbabwe    2000  Medical doctors (per 10,000)           1.26
 2504     Zimbabwe    1995  Medical doctors (per 10,000)           1.43
 2505     Zimbabwe    1990  Medical doctors (per 10,000)           1.27

 [2506 rows x 4 columns],          Location  ...  First Tooltip
 0     Afghanistan  ...           58.8
 1     Afghanistan  ...           53.4
 2     Afghanistan  ...           50.5
 3     Afghanistan  ...           45.2
 4     Afghanistan  ...           39.9
 ...           ...  ...            ...
 1750     Zimbabwe  ...           78.1
 1751     Zimbabwe  ...           80.0
 1752     Zimbabwe  ...           66.2
 1753     Zimbabwe  ...           60.2
 1754     Zimbabwe  ...           68.5

 [1755 rows x 4 columns],          Location  Period  ...        Dim1 First Tooltip
 0     Afghanistan    2016  ...  Both sexes          29.8
 1     Afghanistan    2016  ...        Male          31.8
 2     Afghanistan    2016  ...      Female          27.7
 3     Afghanistan    2015  ...  Both sexes          29.8
 4     Afghanistan    2015  ...        Male          31.9
 ...           ...     ...  ...         ...           ...
 2740     Zimbabwe    2005  ...        Male          22.1
 2741     Zimbabwe    2005  ...      Female          22.9
 2742     Zimbabwe    2000  ...  Both sexes          21.6
 2743     Zimbabwe    2000  ...        Male          21.6
 2744     Zimbabwe    2000  ...      Female          21.7

 [2745 rows x 5 columns],          Location  ... First Tooltip
 0     Afghanistan  ...         43.42
 1     Afghanistan  ...         62.26
 2     Afghanistan  ...         37.05
 3     Afghanistan  ...         42.05
 4     Afghanistan  ...         59.92
 ...           ...  ...           ...
 9363     Zimbabwe  ...         65.05
 9364     Zimbabwe  ...         36.19
 9365     Zimbabwe  ...         45.93
 9366     Zimbabwe  ...         65.05
 9367     Zimbabwe  ...         36.19

 [9368 rows x 5 columns],          Location  Period  ...        Dim1 First Tooltip
 0     Afghanistan    2019  ...  Both sexes         63.21
 1     Afghanistan    2019  ...        Male         63.29
 2     Afghanistan    2019  ...      Female         63.16
 3     Afghanistan    2015  ...  Both sexes         61.65
 4     Afghanistan    2015  ...        Male         61.04
 ...           ...     ...  ...         ...           ...
 2192     Zimbabwe    2010  ...        Male         49.58
 2193     Zimbabwe    2010  ...      Female         53.21
 2194     Zimbabwe    2000  ...  Both sexes         46.57
 2195     Zimbabwe    2000  ...        Male         45.15
 2196     Zimbabwe    2000  ...      Female         48.12

 [2197 rows x 5 columns],          Location  ...  First Tooltip
 0     Afghanistan  ...  189 [122-270]
 1     Afghanistan  ...  189 [122-270]
 2     Afghanistan  ...  189 [122-270]
 3     Afghanistan  ...  189 [122-270]
 4     Afghanistan  ...  189 [122-270]
 ...           ...  ...            ...
 3852     Zimbabwe  ...  607 [451-786]
 3853     Zimbabwe  ...  617 [462-794]
 3854     Zimbabwe  ...  617 [478-773]
 3855     Zimbabwe  ...  617 [461-795]
 3856     Zimbabwe  ...  605 [426-813]

 [3857 rows x 4 columns],         Location Period  ...          Dim2 First Tooltip
 0    Afghanistan   2015  ...  15-19  years          28.7
 1    Afghanistan   2015  ...   20-24 years          41.1
 2    Afghanistan   2015  ...   25-29 years          48.6
 3    Afghanistan   2015  ...   30-34 years          49.3
 4    Afghanistan   2015  ...   35-39 years          49.1
 ..           ...    ...  ...           ...           ...
 553     Zimbabwe   2015  ...   30-34 years          20.2
 554     Zimbabwe   2015  ...   35-39 years          15.7
 555     Zimbabwe   2015  ...   40-44 years          10.7
 556     Zimbabwe   2015  ...   15-49 years          19.9
 557     Zimbabwe   2015  ...   45-49 years          10.6

 [558 rows x 6 columns],       Location  ... First Tooltip
 0      Albania  ...          29.2
 1      Albania  ...          50.5
 2      Albania  ...           7.9
 3      Albania  ...          29.3
 4      Albania  ...          50.6
 ...        ...  ...           ...
 4018  Zimbabwe  ...          31.6
 4019  Zimbabwe  ...           2.3
 4020  Zimbabwe  ...          18.3
 4021  Zimbabwe  ...          33.7
 4022  Zimbabwe  ...           2.9

 [4023 rows x 5 columns],          Location  Period  ...        Dim1       First Tooltip
 0     Afghanistan    2019  ...  Both sexes    0.04 [0.01-0.15]
 1     Afghanistan    2019  ...        Male    0.06 [0.02-0.21]
 2     Afghanistan    2019  ...      Female                0.03
 3     Afghanistan    2015  ...  Both sexes    0.03 [0.01-0.11]
 4     Afghanistan    2015  ...        Male    0.05 [0.02-0.16]
 ...           ...     ...  ...         ...                 ...
 2545     Zimbabwe    2005  ...        Male   7.36 [5.12-10.23]
 2546     Zimbabwe    2005  ...      Female    8.91 [6.2-12.29]
 2547     Zimbabwe    2000  ...  Both sexes  11.48 [8.06-15.85]
 2548     Zimbabwe    2000  ...        Male   10.44 [7.26-14.5]
 2549     Zimbabwe    2000  ...      Female   12.51 [8.7-17.26]

 [2550 rows x 5 columns],          Location  ...  First Tooltip
 0     Afghanistan  ...          57.32
 1     Afghanistan  ...          54.84
 2     Afghanistan  ...          52.39
 3     Afghanistan  ...          49.96
 4     Afghanistan  ...          47.56
 ...           ...  ...            ...
 3450     Zimbabwe  ...          57.94
 3451     Zimbabwe  ...          58.59
 3452     Zimbabwe  ...          59.23
 3453     Zimbabwe  ...          59.88
 3454     Zimbabwe  ...          59.88

 [3455 rows x 4 columns],         Location  Period  ...        Dim1 First Tooltip
 0    Afghanistan    2016  ...  Both sexes         13.92
 1    Afghanistan    2016  ...        Male         12.61
 2    Afghanistan    2016  ...      Female         15.31
 3        Albania    2016  ...  Both sexes          0.17
 4        Albania    2016  ...        Male          0.21
 ..           ...     ...  ...         ...           ...
 544       Zambia    2016  ...        Male         36.62
 545       Zambia    2016  ...      Female         33.23
 546     Zimbabwe    2016  ...  Both sexes         24.55
 547     Zimbabwe    2016  ...        Male         27.07
 548     Zimbabwe    2016  ...      Female         22.16

 [549 rows x 5 columns],         Location  ... First Tooltip
 0    Afghanistan  ...            37
 1    Afghanistan  ...            34
 2        Albania  ...            59
 3        Albania  ...            58
 4        Algeria  ...            78
 ..           ...  ...           ...
 361        Yemen  ...            40
 362       Zambia  ...            53
 363       Zambia  ...            54
 364     Zimbabwe  ...            54
 365     Zimbabwe  ...            54

 [366 rows x 4 columns],          Location  Period  ...   Dim1 First Tooltip
 0     Afghanistan    2013  ...  Total         14.63
 1     Afghanistan    2013  ...  Urban         11.11
 2     Afghanistan    2013  ...  Rural         15.73
 3     Afghanistan    2007  ...  Total          4.84
 4     Afghanistan    2007  ...  Urban          2.25
 ...           ...     ...  ...    ...           ...
 1888       Zambia    2004  ...  Urban          3.30
 1889       Zambia    2004  ...  Rural          2.45
 1890     Zimbabwe    2007  ...  Total          2.09
 1891     Zimbabwe    2007  ...  Urban          4.19
 1892     Zimbabwe    2007  ...  Rural          1.07

 [1893 rows x 5 columns],          Location  ... First Tooltip
 0     Afghanistan  ...          1.19
 1     Afghanistan  ...          0.53
 2     Afghanistan  ...          1.89
 3     Afghanistan  ...          1.22
 4     Afghanistan  ...          0.55
 ...           ...  ...           ...
 2740     Zimbabwe  ...          2.85
 2741     Zimbabwe  ...          2.62
 2742     Zimbabwe  ...          3.44
 2743     Zimbabwe  ...          3.75
 2744     Zimbabwe  ...          3.15

 [2745 rows x 5 columns],          Location  ...  First Tooltip
 0     Afghanistan  ...           1.76
 1     Afghanistan  ...           1.48
 2     Afghanistan  ...           1.30
 3     Afghanistan  ...           1.48
 4     Afghanistan  ...           2.50
 ...           ...  ...            ...
 2582     Zimbabwe  ...          13.20
 2583     Zimbabwe  ...           8.29
 2584     Zimbabwe  ...           9.49
 2585     Zimbabwe  ...          15.27
 2586     Zimbabwe  ...          14.54

 [2587 rows x 4 columns],          Location  ...  First Tooltip
 0     Afghanistan  ...           62.0
 1     Afghanistan  ...           77.2
 2     Afghanistan  ...           87.0
 3     Afghanistan  ...          125.7
 4     Afghanistan  ...           80.0
 ...           ...  ...            ...
 2184     Zimbabwe  ...          112.0
 2185     Zimbabwe  ...          102.6
 2186     Zimbabwe  ...           98.7
 2187     Zimbabwe  ...          101.0
 2188     Zimbabwe  ...          102.6

 [2189 rows x 4 columns],          Location  ... First Tooltip
 0     Afghanistan  ...      14834701
 1     Afghanistan  ...      14786722
 2     Afghanistan  ...      13275429
 3     Afghanistan  ...      13765392
 4     Afghanistan  ...      13384908
 ...           ...  ...           ...
 1741     Zimbabwe  ...       7044667
 1742     Zimbabwe  ...       6958826
 1743     Zimbabwe  ...       6496297
 1744     Zimbabwe  ...       6472357
 1745     Zimbabwe  ...       6437391

 [1746 rows x 4 columns],          Location  Period  ...   Dim1 First Tooltip
 0     Afghanistan    2013  ...  Total          2.01
 1     Afghanistan    2013  ...  Urban          1.49
 2     Afghanistan    2013  ...  Rural          2.18
 3     Afghanistan    2007  ...  Total          0.07
 4     Afghanistan    2007  ...  Urban          0.00
 ...           ...     ...  ...    ...           ...
 1888       Zambia    2004  ...  Urban          0.66
 1889       Zambia    2004  ...  Rural          0.45
 1890     Zimbabwe    2007  ...  Total          0.71
 1891     Zimbabwe    2007  ...  Urban          1.35
 1892     Zimbabwe    2007  ...  Rural          0.40

 [1893 rows x 5 columns],          Location  Period  ...        Dim1 First Tooltip
 0     Afghanistan    2018  ...  Both sexes         0.210
 1     Afghanistan    2018  ...        Male         0.360
 2     Afghanistan    2018  ...      Female         0.055
 3     Afghanistan    2015  ...  Both sexes         0.210
 4     Afghanistan    2015  ...        Male         0.350
 ...           ...     ...  ...         ...           ...
 2782     Zimbabwe    2005  ...        Male         4.720
 2783     Zimbabwe    2005  ...      Female         0.990
 2784     Zimbabwe    2000  ...  Both sexes         2.460
 2785     Zimbabwe    2000  ...        Male         4.160
 2786     Zimbabwe    2000  ...      Female         0.880

 [2787 rows x 5 columns],            Location  Period  ...        Dim1 First Tooltip

In [33]:
# Concatenate into one DataFrame
big_frame = pd.concat(dfs, ignore_index=True)
big_frame

           Location  ... % OF HALE in life expectancy
0       Afghanistan  ...                          NaN
1           Albania  ...                          NaN
2           Algeria  ...                          NaN
3           Andorra  ...                          NaN
4            Angola  ...                          NaN
...             ...  ...                          ...
150560     Zimbabwe  ...                          NaN
150561     Zimbabwe  ...                          NaN
150562     Zimbabwe  ...                          NaN
150563     Zimbabwe  ...                          NaN
150564     Zimbabwe  ...                          NaN

[150565 rows x 10 columns]

/content/drive/MyDrive/Colab Notebooks/WHO/WHO